$color-primary: hsl(9, 86%, 30%);
$color-darken-primary: darken($color-primary, 10%);
$color-danger: hsl(348, 83%, 30%);
$color-darken-danger: hsl(348, 83%, 20%);
$color-success: hsl(90, 40%, 30%);
$color-darken-success: hsl(90, 40%, 20%);